/* .login_page p {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book.otf')
}
.btn{
    font-family: 'Gotham Bold';
    font-style: bold;
    font-weight: bold;
    src: local('Gotham Bold.otf')
} */
